<article class="card mb-2">
    <div class="card-body">
        <p>{{item.origin}}</p>
        <p>{{item.shortUrl}}</p>
        <a href="/eliminar/{{item._id}}" class="btn btn-danger">Eliminar</a>
        <a href="/editar/{{item._id}}" class="btn btn-warning">Editar</a>
        <button class="btn btn-secondary">Copiar</button>        
    </div>
</article>