<div class="row justify-content-center">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center mb-3">Registrarse</h2>
        <form action="/auth/registro" method="post">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div>
              <label for="userName">Nombre:</label>
              <input type="text" name="userName" class="form-control mb-3" placeholder="Ingrese su nombre" value="ivap.dev">
            </div>
            <div>
              <label for="email">Email:</label>
              <input type="email" name="email" value="ivapdev@gmail.com" class="form-control mb-3" placeholder="Ingresa tu E-mail">
            </div>
            <div>
              <label for="password">Contrase単a:</label>
              <input type="password" name="password" value="1234560" class="form-control mb-3" placeholder="Contrase単a">
            </div>
            <div>
              <label for="repassword">Repite Contrase単a:</label>
              <input type="password" name="repassword" value="1234560" class="form-control mb-3" placeholder="Repite contrase単a">
            </div>
            
            <button type="submit" class="btn btn-secondary w-100">Registrar Usuario</button>
        </form>
      </div>
    </div>
  </div>